<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.voicemoviestudio.AIWorker</string>
  <key>ProgramArguments</key><array><string>__PYTHON__</string><string>__WORKER__</string></array>
  <key>RunAtLoad</key><true/><key>KeepAlive</key><true/>
  <key>EnvironmentVariables</key><dict>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>VIDEO_AI_TEXT_MODEL</key><string>__TEXT_MODEL__</string>
  </dict>
  <key>StandardOutPath</key><string>/tmp/VoiceMovieStudioAIWorker.log</string>
  <key>StandardErrorPath</key><string>/tmp/VoiceMovieStudioAIWorker.error.log</string>
</dict></plist>
